{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, "./_build/default/lib/gpb/include"}]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.5.1"}}},
    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb", {tag, "3.27.3"}}},
    {jun, {git, "https://github.com/zgbjgg/jun", "master"}}
]}.
{pre_hooks, [
    {compile, "mkdir -p include"}, %% ensure the include dir exists
    {compile, "`pwd`/_build/default/lib/gpb/bin/protoc-erl -I`pwd`/proto"
        " -o-erl src -o-hrl include `pwd`/proto/*.proto"}
]}.
{post_hooks, [
    {clean, "bash -c 'for f in proto/*.proto; "
        "do "
        "  rm -f src/$(basename $f .proto).erl; "
        "  rm -f include/$(basename $f .proto).hrl; "
        "done'"}
]}.


