{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, "./_build/default/lib/gpb/include"}]}.
{deps, [
    {lager, "3.6.1"}, 
    {gpb, "4.1.3"},
    {jun, "0.1.14"},
    {syn, "1.6.3"}
]}.
{gpb_opts, [
    {i, "proto"},
    {o_erl, "src"},
    {o_hrl, "include"}]}.
{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
{ct_opts, []}.
{cover_enabled, false}.
{cover_opts, [verbose]}.
{ct_extra_params, "--erl_args -smp enable -boot start_ssl"}.
{plugins, [rebar3_hex, rebar3_gpb_plugin]}.
